@media (max-width:1280px){

.container {
    background-color: aqua;
}
}
@media (max-width:768px){

    .container {
        background-color:blue;
    }
    }
@media (max-width:340px){

        .container {
            background-color:blanchedalmond;
            border: 1px solid red;
        }
        }